body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u776_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:662px;
}
#u776 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:138px;
  width:375px;
  height:661px;
}
#u777 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:322px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u778_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:44px;
}
#u778 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:127px;
  width:375px;
  height:43px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u779 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:371px;
  word-wrap:break-word;
}
#u780_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:18px;
}
#u780 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:133px;
  width:31px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u781 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:27px;
  word-wrap:break-word;
}
#u782_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:20px;
}
#u782 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:144px;
  width:22px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u783 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u784_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:23px;
}
#u784 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:138px;
  width:38px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u785 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:34px;
  word-wrap:break-word;
}
#u786_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:53px;
}
#u786 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:170px;
  width:375px;
  height:52px;
}
#u787 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u788_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:47px;
}
#u788 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:170px;
  width:94px;
  height:46px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u789 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:90px;
  word-wrap:break-word;
}
#u790_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:96px;
}
#u790 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:127px;
  width:1px;
  height:95px;
}
#u791 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u792_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:47px;
}
#u792 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:170px;
  width:67px;
  height:46px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#009900;
}
#u793 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:63px;
  word-wrap:break-word;
}
#u794_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:19px;
}
#u794 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:138px;
  width:33px;
  height:18px;
}
#u795 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u796_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:47px;
}
#u796 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:554px;
  width:328px;
  height:46px;
  font-size:16px;
  text-align:left;
}
#u797 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:324px;
  word-wrap:break-word;
}
#u798 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:562px;
  width:24px;
  height:30px;
}
#u798_input {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#666666;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u799_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:26px;
}
#u799 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:564px;
  width:15px;
  height:25px;
}
#u800 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u801_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:47px;
}
#u801 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:675px;
  width:328px;
  height:46px;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u802 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:324px;
  word-wrap:break-word;
}
#u803_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:47px;
}
#u803 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:629px;
  width:328px;
  height:46px;
  font-size:16px;
  text-align:left;
}
#u804 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:324px;
  word-wrap:break-word;
}
#u805_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:47px;
}
#u805 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:720px;
  width:328px;
  height:46px;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u806 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:324px;
  word-wrap:break-word;
}
#u807_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:26px;
}
#u807 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:686px;
  width:15px;
  height:25px;
}
#u808 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u809_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:26px;
}
#u809 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:639px;
  width:15px;
  height:25px;
}
#u810 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u811_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:26px;
}
#u811 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:732px;
  width:15px;
  height:25px;
}
#u812 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u813_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:24px;
}
#u813 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:521px;
  width:87px;
  height:23px;
  font-size:18px;
}
#u814 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:83px;
  word-wrap:break-word;
}
#u815_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:47px;
}
#u815 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:369px;
  width:328px;
  height:46px;
  font-size:16px;
  text-align:left;
}
#u816 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:324px;
  word-wrap:break-word;
}
#u817 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:375px;
  width:24px;
  height:30px;
}
#u817_input {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#666666;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u818_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:26px;
}
#u818 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:379px;
  width:15px;
  height:25px;
}
#u819 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u820_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:47px;
}
#u820 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:460px;
  width:328px;
  height:46px;
  font-size:16px;
  text-align:left;
}
#u821 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:324px;
  word-wrap:break-word;
}
#u822 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:468px;
  width:24px;
  height:30px;
}
#u822_input {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#666666;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u823_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:26px;
}
#u823 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:470px;
  width:15px;
  height:25px;
}
#u824 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u825_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:47px;
}
#u825 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:414px;
  width:328px;
  height:46px;
  font-size:16px;
  text-align:left;
}
#u826 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:324px;
  word-wrap:break-word;
}
#u827 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:427px;
  width:24px;
  height:30px;
}
#u827_input {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#666666;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u828_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:26px;
}
#u828 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:427px;
  width:15px;
  height:25px;
}
#u829 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u830_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:47px;
}
#u830 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:323px;
  width:328px;
  height:46px;
  font-size:16px;
  text-align:left;
}
#u831 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:324px;
  word-wrap:break-word;
}
#u832 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:334px;
  width:50px;
  height:30px;
}
#u832_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#666666;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u833_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:26px;
}
#u833 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:336px;
  width:15px;
  height:25px;
}
#u834 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u835_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:47px;
}
#u835 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:232px;
  width:328px;
  height:46px;
  font-size:16px;
  text-align:left;
}
#u836 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:324px;
  word-wrap:break-word;
}
#u837 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:240px;
  width:50px;
  height:30px;
}
#u837_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#666666;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u838_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:26px;
}
#u838 {
  border-width:0px;
  position:absolute;
  left:351px;
  top:242px;
  width:15px;
  height:25px;
}
#u839 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u840_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:47px;
}
#u840 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:278px;
  width:328px;
  height:46px;
  font-size:16px;
  text-align:left;
}
#u841 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:324px;
  word-wrap:break-word;
}
#u842 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:288px;
  width:92px;
  height:30px;
}
#u842_input {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#666666;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u843_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:26px;
}
#u843 {
  border-width:0px;
  position:absolute;
  left:351px;
  top:290px;
  width:15px;
  height:25px;
}
#u844 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u845_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:47px;
}
#u845 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:170px;
  width:67px;
  height:46px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#009900;
}
#u846 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:63px;
  word-wrap:break-word;
}
#u847_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u847 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:127px;
  width:375px;
  height:1px;
}
#u848 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u849_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:65px;
}
#u849 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:31px;
  width:202px;
  height:64px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u850 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:198px;
  word-wrap:break-word;
}
#u851_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:662px;
}
#u851 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:138px;
  width:375px;
  height:661px;
}
#u852 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:322px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u853_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:44px;
}
#u853 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:127px;
  width:375px;
  height:43px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u854 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:371px;
  word-wrap:break-word;
}
#u855_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:18px;
}
#u855 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:133px;
  width:31px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u856 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:27px;
  word-wrap:break-word;
}
#u857_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:20px;
}
#u857 {
  border-width:0px;
  position:absolute;
  left:594px;
  top:144px;
  width:22px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u858 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u859_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:23px;
}
#u859 {
  border-width:0px;
  position:absolute;
  left:878px;
  top:138px;
  width:38px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u860 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:34px;
  word-wrap:break-word;
}
#u861_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:53px;
}
#u861 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:170px;
  width:375px;
  height:52px;
}
#u862 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u863_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:47px;
}
#u863 {
  border-width:0px;
  position:absolute;
  left:721px;
  top:170px;
  width:94px;
  height:46px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u864 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:90px;
  word-wrap:break-word;
}
#u865_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:96px;
}
#u865 {
  border-width:0px;
  position:absolute;
  left:955px;
  top:127px;
  width:1px;
  height:95px;
}
#u866 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u867_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:96px;
}
#u867 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:127px;
  width:1px;
  height:95px;
}
#u868 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u869_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:19px;
}
#u869 {
  border-width:0px;
  position:absolute;
  left:916px;
  top:138px;
  width:33px;
  height:18px;
}
#u870 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u871_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:58px;
}
#u871 {
  border-width:0px;
  position:absolute;
  left:613px;
  top:521px;
  width:328px;
  height:57px;
  font-size:20px;
  text-align:left;
}
#u872 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:324px;
  word-wrap:break-word;
}
#u873_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:243px;
  height:31px;
}
#u873 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:300px;
  width:228px;
  height:5px;
}
#u874 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:224px;
  visibility:hidden;
  word-wrap:break-word;
}
#u875_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:29px;
}
#u875 {
  border-width:0px;
  position:absolute;
  left:613px;
  top:578px;
  width:269px;
  height:28px;
  font-size:20px;
}
#u876 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:265px;
  word-wrap:break-word;
}
#u877_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u877 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:127px;
  width:375px;
  height:1px;
}
#u878 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u879_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:65px;
}
#u879 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:28px;
  width:242px;
  height:64px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u880 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:238px;
  word-wrap:break-word;
}
#u881_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:29px;
}
#u881 {
  border-width:0px;
  position:absolute;
  left:594px;
  top:182px;
  width:16px;
  height:28px;
}
#u882 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u883_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:47px;
}
#u883 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:170px;
  width:56px;
  height:46px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u884 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:52px;
  word-wrap:break-word;
}
#u885_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:58px;
}
#u885 {
  border-width:0px;
  position:absolute;
  left:613px;
  top:389px;
  width:328px;
  height:57px;
  font-size:20px;
  text-align:left;
}
#u886 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:324px;
  word-wrap:break-word;
}
#u887_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:58px;
}
#u887 {
  border-width:0px;
  position:absolute;
  left:613px;
  top:252px;
  width:328px;
  height:57px;
  font-size:20px;
  text-align:left;
}
#u888 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:324px;
  word-wrap:break-word;
}
#u889_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:29px;
}
#u889 {
  border-width:0px;
  position:absolute;
  left:613px;
  top:319px;
  width:235px;
  height:28px;
  font-size:20px;
}
#u890 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:231px;
  word-wrap:break-word;
}
#u891_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:29px;
}
#u891 {
  border-width:0px;
  position:absolute;
  left:613px;
  top:455px;
  width:119px;
  height:28px;
  font-size:20px;
}
#u892 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:115px;
  word-wrap:break-word;
}
#u893_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:491px;
}
#u893 {
  border-width:0px;
  position:absolute;
  left:1065px;
  top:144px;
  width:375px;
  height:490px;
  font-size:28px;
  text-align:left;
}
#u894 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  word-wrap:break-word;
}
#u895_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:65px;
}
#u895 {
  border-width:0px;
  position:absolute;
  left:1065px;
  top:42px;
  width:242px;
  height:64px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u896 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:238px;
  word-wrap:break-word;
}
#u897_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:96px;
}
#u897 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:127px;
  width:1px;
  height:95px;
}
#u898 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u899_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:30px;
}
#u899 {
  border-width:0px;
  position:absolute;
  left:890px;
  top:266px;
  width:38px;
  height:29px;
}
#u900 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
