body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1530px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u234_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:662px;
}
#u234 {
  border-width:0px;
  position:absolute;
  left:1155px;
  top:150px;
  width:375px;
  height:661px;
}
#u235 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:322px;
  width:371px;
  word-wrap:break-word;
}
#u236_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:44px;
}
#u236 {
  border-width:0px;
  position:absolute;
  left:1155px;
  top:144px;
  width:375px;
  height:43px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u237 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:371px;
  word-wrap:break-word;
}
#u238_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:18px;
}
#u238 {
  border-width:0px;
  position:absolute;
  left:1155px;
  top:150px;
  width:31px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u239 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:27px;
  word-wrap:break-word;
}
#u240_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:20px;
}
#u240 {
  border-width:0px;
  position:absolute;
  left:1169px;
  top:161px;
  width:22px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u241 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u242_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:23px;
}
#u242 {
  border-width:0px;
  position:absolute;
  left:1453px;
  top:155px;
  width:38px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u243 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:34px;
  word-wrap:break-word;
}
#u244_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:53px;
}
#u244 {
  border-width:0px;
  position:absolute;
  left:1155px;
  top:187px;
  width:375px;
  height:52px;
}
#u245 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u246_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:47px;
}
#u246 {
  border-width:0px;
  position:absolute;
  left:1155px;
  top:190px;
  width:67px;
  height:46px;
  font-size:20px;
  color:#009900;
}
#u247 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:63px;
  word-wrap:break-word;
}
#u248_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:47px;
}
#u248 {
  border-width:0px;
  position:absolute;
  left:1297px;
  top:190px;
  width:64px;
  height:46px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u249 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:60px;
  word-wrap:break-word;
}
#u250_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u250 {
  border-width:0px;
  position:absolute;
  left:1494px;
  top:201px;
  width:24px;
  height:24px;
  color:#009900;
}
#u251 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u252_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:69px;
}
#u252 {
  border-width:0px;
  position:absolute;
  left:1155px;
  top:749px;
  width:375px;
  height:68px;
}
#u253 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u254_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:57px;
}
#u254 {
  border-width:0px;
  position:absolute;
  left:1177px;
  top:755px;
  width:56px;
  height:56px;
  font-size:16px;
}
#u255 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:52px;
  word-wrap:break-word;
}
#u256_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:57px;
}
#u256 {
  border-width:0px;
  position:absolute;
  left:1274px;
  top:755px;
  width:56px;
  height:56px;
  font-size:18px;
}
#u257 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:52px;
  word-wrap:break-word;
}
#u258_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:57px;
}
#u258 {
  border-width:0px;
  position:absolute;
  left:1362px;
  top:755px;
  width:56px;
  height:56px;
  font-size:16px;
}
#u259 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:52px;
  word-wrap:break-word;
}
#u260_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:57px;
}
#u260 {
  border-width:0px;
  position:absolute;
  left:1453px;
  top:755px;
  width:56px;
  height:56px;
  font-size:16px;
}
#u261 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:52px;
  word-wrap:break-word;
}
#u262_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:2px;
}
#u262 {
  border-width:0px;
  position:absolute;
  left:1162px;
  top:343px;
  width:361px;
  height:1px;
}
#u263 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u264_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:2px;
}
#u264 {
  border-width:0px;
  position:absolute;
  left:1162px;
  top:446px;
  width:361px;
  height:1px;
}
#u265 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u266_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u266 {
  border-width:0px;
  position:absolute;
  left:1155px;
  top:239px;
  width:375px;
  height:1px;
}
#u267 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u268_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:85px;
}
#u268 {
  border-width:0px;
  position:absolute;
  left:1169px;
  top:246px;
  width:207px;
  height:84px;
  text-align:left;
}
#u269 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:203px;
  word-wrap:break-word;
}
#u270_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:85px;
}
#u270 {
  border-width:0px;
  position:absolute;
  left:1169px;
  top:352px;
  width:168px;
  height:84px;
  text-align:left;
}
#u271 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:164px;
  word-wrap:break-word;
}
#u272_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:101px;
}
#u272 {
  border-width:0px;
  position:absolute;
  left:1529px;
  top:144px;
  width:1px;
  height:100px;
}
#u273 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u274_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:107px;
}
#u274 {
  border-width:0px;
  position:absolute;
  left:1155px;
  top:144px;
  width:1px;
  height:106px;
}
#u275 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:45px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u276_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u276 {
  border-width:0px;
  position:absolute;
  left:1155px;
  top:144px;
  width:375px;
  height:1px;
}
#u277 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u278_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
}
#u278 {
  border-width:0px;
  position:absolute;
  left:1491px;
  top:159px;
  width:26px;
  height:14px;
}
#u279 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u280_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:2px;
}
#u280 {
  border-width:0px;
  position:absolute;
  left:1162px;
  top:547px;
  width:361px;
  height:1px;
}
#u281 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u282_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:85px;
}
#u282 {
  border-width:0px;
  position:absolute;
  left:1162px;
  top:453px;
  width:168px;
  height:84px;
  text-align:left;
}
#u283 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:164px;
  word-wrap:break-word;
}
#u284_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:34px;
}
#u284 {
  border-width:0px;
  position:absolute;
  left:1432px;
  top:491px;
  width:91px;
  height:33px;
}
#u284_img.selected {
}
#u284.selected {
}
#u285 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u286_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u286 {
  border-width:0px;
  position:absolute;
  left:1432px;
  top:489px;
  width:35px;
  height:35px;
}
#u287 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u288_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:36px;
}
#u288 {
  border-width:0px;
  position:absolute;
  left:1432px;
  top:384px;
  width:91px;
  height:35px;
  color:#999999;
}
#u288_img.selected {
}
#u288.selected {
}
#u289 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u290_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:36px;
}
#u290 {
  border-width:0px;
  position:absolute;
  left:1432px;
  top:275px;
  width:91px;
  height:35px;
  color:#999999;
}
#u290_img.selected {
}
#u290.selected {
}
#u291 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u292_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u292 {
  border-width:0px;
  position:absolute;
  left:1432px;
  top:384px;
  width:35px;
  height:35px;
}
#u293 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u294_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u294 {
  border-width:0px;
  position:absolute;
  left:1432px;
  top:275px;
  width:35px;
  height:35px;
}
#u295 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u296_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:73px;
}
#u296 {
  border-width:0px;
  position:absolute;
  left:1162px;
  top:35px;
  width:202px;
  height:72px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u297 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:198px;
  word-wrap:break-word;
}
#u298_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
}
#u298 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:142px;
  width:375px;
  height:667px;
}
#u299 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u300_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:663px;
}
#u300 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:144px;
  width:374px;
  height:663px;
}
#u301 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:324px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u302_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:44px;
}
#u302 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:142px;
  width:375px;
  height:43px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u303 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:371px;
  word-wrap:break-word;
}
#u304_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:18px;
}
#u304 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:148px;
  width:31px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u305 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:27px;
  word-wrap:break-word;
}
#u306_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:20px;
}
#u306 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:159px;
  width:22px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u307 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u308_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:23px;
}
#u308 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:153px;
  width:38px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u309 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:34px;
  word-wrap:break-word;
}
#u310_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:49px;
}
#u310 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:142px;
  width:1px;
  height:48px;
}
#u311 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u312_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:96px;
}
#u312 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:142px;
  width:1px;
  height:95px;
}
#u313 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u314_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u314 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:142px;
  width:375px;
  height:1px;
}
#u315 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u316_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u316 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:156px;
  width:28px;
  height:15px;
}
#u317 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u318_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
}
#u318 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:142px;
  width:375px;
  height:667px;
  opacity:0.4;
  font-size:72px;
  color:#000000;
}
#u319 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u320_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:30px;
}
#u320 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:737px;
  width:50px;
  height:29px;
}
#u321 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u322_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:158px;
}
#u322 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:185px;
  width:375px;
  height:157px;
  opacity:0.5;
  color:#000000;
}
#u323 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:371px;
  word-wrap:break-word;
}
#u324_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:137px;
}
#u324 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:437px;
  width:343px;
  height:136px;
  opacity:0.5;
  color:#000000;
}
#u325 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:339px;
  word-wrap:break-word;
}
#u326_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:23px;
}
#u326 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:776px;
  width:64px;
  height:22px;
  opacity:0.5;
  font-size:28px;
  color:#000000;
}
#u327 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:60px;
  word-wrap:break-word;
}
#u328_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:73px;
}
#u328 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:35px;
  width:202px;
  height:72px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u329 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:198px;
  word-wrap:break-word;
}
#u330_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
}
#u330 {
  border-width:0px;
  position:absolute;
  left:573px;
  top:142px;
  width:375px;
  height:667px;
}
#u331 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u332_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:663px;
}
#u332 {
  border-width:0px;
  position:absolute;
  left:574px;
  top:144px;
  width:374px;
  height:663px;
}
#u333 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:324px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u334_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:44px;
}
#u334 {
  border-width:0px;
  position:absolute;
  left:573px;
  top:142px;
  width:375px;
  height:43px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u335 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:371px;
  word-wrap:break-word;
}
#u336_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:18px;
}
#u336 {
  border-width:0px;
  position:absolute;
  left:573px;
  top:148px;
  width:31px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u337 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:27px;
  word-wrap:break-word;
}
#u338_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:20px;
}
#u338 {
  border-width:0px;
  position:absolute;
  left:587px;
  top:159px;
  width:22px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u339 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u340_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:23px;
}
#u340 {
  border-width:0px;
  position:absolute;
  left:871px;
  top:153px;
  width:38px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u341 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:34px;
  word-wrap:break-word;
}
#u342_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:49px;
}
#u342 {
  border-width:0px;
  position:absolute;
  left:948px;
  top:142px;
  width:1px;
  height:48px;
}
#u343 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u344_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:96px;
}
#u344 {
  border-width:0px;
  position:absolute;
  left:573px;
  top:142px;
  width:1px;
  height:95px;
}
#u345 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u346_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u346 {
  border-width:0px;
  position:absolute;
  left:573px;
  top:142px;
  width:375px;
  height:1px;
}
#u347 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u348_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u348 {
  border-width:0px;
  position:absolute;
  left:909px;
  top:156px;
  width:28px;
  height:15px;
}
#u349 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u350_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
}
#u350 {
  border-width:0px;
  position:absolute;
  left:573px;
  top:142px;
  width:375px;
  height:667px;
  opacity:0.4;
  font-size:72px;
  color:#000000;
}
#u351 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u352_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:158px;
}
#u352 {
  border-width:0px;
  position:absolute;
  left:573px;
  top:185px;
  width:375px;
  height:157px;
  opacity:0.5;
  color:#000000;
}
#u353 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:371px;
  word-wrap:break-word;
}
#u354_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:137px;
}
#u354 {
  border-width:0px;
  position:absolute;
  left:594px;
  top:437px;
  width:343px;
  height:136px;
  opacity:0.5;
  color:#000000;
}
#u355 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:339px;
  word-wrap:break-word;
}
#u356_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:73px;
}
#u356 {
  border-width:0px;
  position:absolute;
  left:573px;
  top:35px;
  width:202px;
  height:72px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u357 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:198px;
  word-wrap:break-word;
}
#u358_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:398px;
}
#u358 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:968px;
  width:391px;
  height:397px;
  font-size:28px;
  text-align:left;
}
#u359 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:387px;
  word-wrap:break-word;
}
#u360_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:397px;
}
#u360 {
  border-width:0px;
  position:absolute;
  left:568px;
  top:968px;
  width:396px;
  height:396px;
  font-size:28px;
  text-align:left;
}
#u361 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:392px;
  word-wrap:break-word;
}
#u362_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:397px;
}
#u362 {
  border-width:0px;
  position:absolute;
  left:1155px;
  top:968px;
  width:375px;
  height:396px;
  font-size:28px;
  text-align:left;
}
#u363 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  word-wrap:break-word;
}
#u364_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:230px;
  height:31px;
}
#u364 {
  border-width:0px;
  position:absolute;
  left:394px;
  top:473px;
  width:215px;
  height:5px;
}
#u365 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u366_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:1136px;
  height:10px;
}
#u366 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:886px;
  width:1131px;
  height:5px;
  color:#FF0000;
}
#u367 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:1127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u368_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:10px;
  height:126px;
}
#u368 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:766px;
  width:5px;
  height:121px;
}
#u369 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:52px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u370_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:98px;
}
#u370 {
  border-width:0px;
  position:absolute;
  left:1362px;
  top:790px;
  width:22px;
  height:97px;
}
#u371 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u372_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:18px;
}
#u372 {
  border-width:0px;
  position:absolute;
  left:364px;
  top:755px;
  width:240px;
  height:17px;
}
#u373 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
